# Cấu hình Telegram Bot
BOT_TOKEN=your_bot_token_here
CHANNEL_USERNAME=your_channel
CHANNEL_URL=https://t.me/your_channel
ADMIN_USER_ID=admin_user_id_here

# Cấu hình cơ sở dữ liệu PostgreSQL (Supabase)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=postgres

DATABASE_URL=your_database_url_here

WEBSHARE_TOKEN=your_webshare_token_here